<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller/lectorcbController.js"></script>
  </head>

  <body ng-app="lector" >
    <ion-view>
      <ion-content align="center" class="background" ng-controller="lectorController">
        <div class="bar bar-header bar-light">
          <button class="button button-clear" ng-click="obtenerId()">
            <a class="button button-icon ion-android-phone-landscape"></a>
          </button>
        </div>
        <div class="row row-top">
          <img src="img/logoPE.png" class="img-circle" border="1" >
        </div>
        <div>
          <button class="button button-block button-assertive" ng-click="leerCodigo()">
            <span>Escanear codigo</span>
          </button>
        </div>
      </ion-content>
      </ion-view>
  </body>
</html>
